@font-face {
    font-family: 'noculturenosoul';
    src: url(no-culture-no-soul-demo.ttf);
}

#titulo {
    display: flex;
    align-items: center;
}

* {
    margin: 20px;
    padding: 0px;
    font-family: "dico-mono-slab", mono;
    font-size: 20px;
    color: lch(1.04% 20.16 291.33);
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    list-style-type: none;
}

li {
    font-family: "dico-mono-slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

h1 {
    font-family: 'noculturenosoul', Helvetica, Arial, Sans-Serif;
    font-size: 190px
}

h2 {
    font-weight: 700;
    font-size: 50px;
}

h3 {
    font-family: venice-blvd, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: rgb(208, 0, 0);
}

h4 {
    font-weight: 700;
    font-size: 20px;
}

h5 {
    font-size: 20px;
    color: rgb(226, 226, 208);
}

span {
    font-weight: 700;
}

img {
    padding-left: 20px;
}

.fondo {
    background-color: rgb(226, 226, 208);
    background-image: url('img/vector_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bloque_de_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 0, 0);
    /* guarda con el contraste de color que se genera porque está complicando la lectura */
    margin: 0px;
    padding: 20px 30px 20px 30px;
}