@font-face {
    font-family: 'noculturenosoul';
    src: url(no-culture-no-soul-demo.ttf);
}

#titulo {
    display: flex;
    align-items: center;
}

* {
    margin: 20px;
    padding: 0px;
}  /* no repitas selectores, todas las propiedades de un mismo lugar deben estar juntas, por ej el * de arriba y abajo */

* {
    font-family: "dico-mono-slab", mono;
    font-weight: 400; /* este no hace falta especificarlo */
    font-style: normal; /* esto no hace falta */
    font-size: 20px; 
    color: rgb(0, 0, 34);
}

ul {
    list-style-type: none;
}

li {
    font-family: "dico-mono-slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
}

h1 {
    font-family: 'noculturenosoul', Helvetica, Arial, Sans-Serif;
    font-style: normal; /* no hace falta */
    font-size: 190px
}

h2 {
    font-family: "dico-mono-slab", sans-serif; /* esto ya lo estableciste en el * no lo repitas */
    font-weight: 700; 
    font-style: normal; /* no hace falta */
    font-size: 50px;
}

h3 {
    font-family: venice-blvd, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: rgb(208, 0, 0);
}

h4 {
    font-family: "dico-mono-slab", sans-serif; /* estás repitiendo mucho esta propiedad en vano porque ya se estableció en el selector universal, no hace falta repetir */
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

span {
    font-weight: 700;
}

img {
    padding-left: 20px;
}

.fondo {
    background-color: rgb(226, 226, 208);
    background-image: url('img/vector_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bloque_de_info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: row; /*no hace falta*/
    flex-wrap: nowrap; /*no hace falta*/
    justify-content: space-between;
    align-content: center; /*no está  ttomando esta propiedad*/
    align-items: center;
    background-color: rgb(208, 0, 0); /* guarda con el contraste de color que se genera porque está complicando la lectura */
    margin: 0px;
    padding: 20px 30px 20px 30px;
}
